name: Deploy with Ansible

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY_B64 }}" | base64 -d > ~/.ssh/id_rsa || (echo "âŒ Failed to decode SSH key" && exit 1)
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 98.81.154.86 >> ~/.ssh/known_hosts
          ls -la ~/.ssh
        shell: bash


      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Run Ansible playbook
        run: |
          ansible-playbook -i ansible/inventory.yml ansible/site.yml

